body, html {
    margin: 0;
    padding: 0;
    background-color: #1f2220;
}

#container{
    z-index: 0;
    font-family: sans-serif, Arial, Helvetica;
    color: #ede3bc;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    align-items: top;
    scroll-snap-align: end;
}
h3{
    font-size: 15px;
    font-weight: bold;
    color: #B1A089;
}
p{
    font-size: small;
    color: #B59B6E;
}
#Pages{
    list-style-type: none;
}
@keyframes AboutMeAnim {
    from {position: fixed;
        opacity: 0;
        top:4%;
        left:85%;
        }
    to{position: fixed;
        opacity: 100;
        top:5%;
        left: 5%;
    }
}
@keyframes ResumeAnim {
    from {position: fixed;
        opacity: 0;
        top:6%;
        left:85%;
        }
    to{position: fixed;
        opacity: 100;
        top:5%;
        left: 32%;
    }
}
@keyframes HobbiesAnim {
    from {position: fixed;
        opacity: 0;
        top:10%;
        left:85%;
        }
    to{position: fixed;
        opacity: 100;
        top:5%;
        left: 57%;
    }
}
@keyframes WorkAnim {
    from {position: fixed;
        opacity: 0;
        top:12%;
        left:85%;
        }
    to{position: fixed;
        opacity: 100;
        top:5%;
        left: 85%;
    }
}

@media only screen and (max-width: 720px){
    #container{
    position: relative;
    top: 100px;
    }
    #slide1{
        height: 80vh;
    }
    #slide2{
        height: 200vh;
    }
    #Pages{
        right: 6%;                   
    }
    #AboutMe{
        animation-name: AboutMeAnim;
        animation-duration: 2s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        
        /* transform: translate(-450px, 0px); */
    }
    #Resume{
        animation-name: ResumeAnim;
        animation-duration: 2s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        
        /* transform: translate(-300px, -18px); */
    }
    #Hobbies{
        animation-name: HobbiesAnim;
        animation-duration: 2s;
        animation-direction:normal;
        animation-fill-mode: forwards;
        
        /* transform: translate(-150px, -36px); */
    }
    #Work{
        animation-name: WorkAnim;
        animation-duration: 2s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        /* transform: translate(0px, -52px); */
    }
}
@media only screen and (min-width:721px) and (max-width:960px) {
    #container {
    position: relative;
    top: 120px;
    
    }
    #slide1{
        height: 75vh;
    }
    #slide2{
        height: 150vh;
    }
    #Pages{
        position: fixed;
        top: 1%;
        right: 5.5%;
    }
}
@media only screen and (min-width:961px){
    #container {
    position: relative;
    top: 180px;
    }
    #slide1{
        height: 70vh;
    }
    #slide2{
        height: 125vh;
    }

    #Pages{
        position: fixed;
        top: 4%;
        right: 5%;
    }
}
