body{
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.1)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
}
section{
    text-align: center;
}

h1{
    position: relative;
    top: 15vh;
}
#simpleInfoSec{
    position: relative;
    top: 15vh;
}
#bigButtonToProj{   
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 20vh;
    text-decoration: none;
    font-size:medium;
    color: white;
    border-radius: 0.75vh;
    background-color: purple;
    box-shadow: 2px 1px 2px;
    opacity: 90%;
    transition: 0.5s;
}
#bigButtonToProj:hover{
    translate: 0px -5px 0px;
    opacity: 100%;
}
#designby{
    position: relative;
    bottom: -40vh;
    left: -26%;
}


@media only screen and (max-width: 720px){
    #bigButtonToProj{   
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        top: 15vh;
        text-decoration: none;
        font-size:medium;
        color: white;
        border-radius: 0.75vh;
        background-color: purple;
        box-shadow: 2px 1px 2px;
        opacity: 90%;
        transition: 0.5s;
    }
    
}
