body, html {
    margin: 0;
    padding: 0;
    background-color: #1f2220;
}

#container{
    z-index: 0;
    font-family: sans-serif, Arial, Helvetica;
    color: #ede3bc;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    height: 100vw;
}

section{
    display: flex;
    align-items: top;
    overflow-y: hidden;
    scroll-snap-align: start;
}
h3{
    font-size: 15px;
    font-weight: bold;
    color: #B1A089;
}
p{
    font-size: small;
    color: #B59B6E;
}
#Pages{
    z-index: 10;
    list-style-type: none;
}

@media only screen and (max-width: 720px){
    #container{
    position: relative;
    top: 100px;
    }
    #slide1{
        height: 100%;
    }
    #slide2{
        height: 250%;
    }
    #slide3{
        height: 100%;
    }
    
}
@media only screen and (min-width:721px) and (max-width:960px) {
    #container {
    position: relative;
    top: 120px;
    
    }
    #slide1{
        height: 100%;
    }
    #slide2{
        height: 200%;
    }
    #slide3{
        height: 100%;
    }
   
}
@media only screen and (min-width:961px){
    #container {
    position: relative;
    top: 180px;
    }
    #slide1{
        height: 100%;
    }
    #slide2{
        height: 150%;
    }
    #slide3{
        height: 100%;
    }

   
}
