body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.container{
    font-family: Helvetica, Arial;
    color: black;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 300vh;
}
#slide1 h1{
    position: relative;
    left: 35%;
}
#underline{
    background-color: purple;
    position: relative;
    top: 25%;
    left: 45%;
    height: 8px;
    width: 50px;
    border-radius: 10%;
}


section{
    align-items: top;
    overflow-y: scroll;
    scroll-snap-align: start;
}
h3{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
p{
    margin: 5px;
}

@media only screen and (max-width: 720px){

    #slide1{
        height: 200vh;
    }
    #slide3{
        height: 100vh;
    }
    
}
@media only screen and (min-width:721px) and (max-width:960px) {
 
    #slide1{
        height: 150%;
    }
    #slide3{
        height: 100%;
    }
   
}
@media only screen and (min-width:961px){

    #slide1{
        height: 125%;
    }
    #slide3{
        height: 100%;
    }

   
}
